body {

    margin:0;
    font-family: Arial,Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center ;
    
}
 h1,h2,h3 {
    
    margin:0;
    padding: 0;
    
    
 }
 p{
    
    margin: 1%;
    padding: 1em 0;
    
    }
    .btn{
        display : inline-block;
        background: #333;
        color: white;
        text-decoration: none;
        padding: 1em 2em ;
        border: 1px solid #666;
        margin: .5em 0;
        margin-top: 5%;
        
        }
        img{

            display: block; 
            width: 100%;
            height: auto;
        }
        .btn:hover{
            background: #fff;
            color: #333;
            }
            #banner{
    
                min-height: 450px;
                }
                
               
                #banner .content-wrap{
                padding: 0 1.5em;
                
                }
                .ajust{

                    padding-top: 5%;
                }
            
            
              #banner .bg-image {
                background: url('badi.jpg');
                position: absolute;
        
                background-position: center;
                background-repeat: no-repeat;
                background-size: cove­r;
                width: 100%;
                height: 450px;
                z-index:-1;
                opacity: 0.3;
                margin: 0;
            
                }


            /*section a */

            #section-a {
                background: #fff;
                color: #333;
                padding: 2em 0.5em;

            }
           #section-a .context-text{
                padding-top: 1em;


           }

        /* section */

           #section-b {

            padding: 2em 1em;

           }
           #section-b ul{

            list-style: none;
            margin: 0%;
            padding: 0%;
           }
           #section-b li {

            margin-block-start: 1em;
            background: #fff;
            color: #333;
           }
           #section-b .card-content{

            padding: 1em;
           }

        /* section-c */

        #section-c {

            background: #fff;
            color: #333;
            padding: 2em 2em;
        }

        /* section-d */
        /*#section-d .grid { 
            margin: 0%; =*/
        
        #section-d .box {
            padding: 2em 2em;
            margin: 0%;
        }

        #section-d .box:first-child {

            background: #2690d4;
            color: #fff;
        }
        #section-d span {

            color: #333;

        }
        #section-d .box{

            background: #333;
            color: #fff;
        }

        /* footer */

        footer{

            padding: 2em 2em;
            background: #000;
            text-align: center;

        }

        footer a {
            color: #2690d4;
            text-decoration: none;


        }

        footer h4{
            color: white;
            padding: 0;
            margin: 0;
        }
        footer p{
            color: white;
        }

        @media(min-width: 669px){
            .grid {
                display: grid;
                grid-template-columns: 1fr repeat
                (2,minmax(auto, 26em));
            }

            #section-a .context-text p {
                columns: 2;
                column-gap: 2em;
                padding-top: 0;
            }

        .content-wrap,
         #section-b ul {
            grid-column: 2/4;
            }
        #section-b ul {
            display: flex;
            justify-content: space-around;
        }
        #section-b li {
            width: 31%;

        }
        #section-d .box {
            grid-column: span 2;
        }
      /*  #section-d .bom { 
            margin-left: 20px;
        }*/
        img {
            height: 500px;
        }
        }

            
        



